{{GENERATED_NOTICE}}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<base href="{{BASE_HREF}}">
{{ROUTE_ENTRY_HEAD}}
<title>{{TITLE}}</title>

<script src="./assets/js/Config/SiteFonts.js"></script>
<script src="./assets/js/Config/SiteResources.js"></script>
<script src="./assets/js/Functions/general/SiteEarlyBoot.js"></script>
</head>

<body>
  <div id="mount-top-nav"></div>
  <div id="mount-cover"></div>
  <div id="mount-resume"></div>
  <div id="mount-social"></div>
  <div id="mount-toolkit"></div>
  <div id="mount-schedule"></div>
  <div id="mount-life"></div>

  <script src="./assets/js/Functions/general/SiteResourceLoader.js"></script>
</body>
</html>
